<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<div class="container">
  <head>
    <title>Coronavirus Tracker Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
  </head>

  <body>
  <h1>Coronavirus Tracker</h1>
  <p>This application tracks the total number of reported cases in America by county.</p>
  
  <div class="jumbotron">
  <h1 class="display-4" th:text="${totalReportedCases}">Total Cases</h1>
  <p class="lead">Total cases reported as of today</p>
</div>
  <table class="table table-striped">
      <tr>
        <th>County</th>
        <th>State</th>
        <th>Total Cases Reported</th>
        <th>Cases Since Yesterday</th>
      </tr>
      <tr th:each="stat : ${locationStats}">
        <td th:text="${stat.county}"></td>
        <td th:text="${stat.state}"></td>
        <td th:text="${stat.latestTotalCases}"></td>
        <td th:text="${stat.differenceFromPreviousDate}">0</td>
      </tr>
    </table>
  </div>
  </body>

</html>